.white{
    display: inline-block;
    height: 50px;
    width: 50px;
    background-color: white;
    
}

.black{
    display: inline-block;
    height: 50px;
    width: 50px;
    background-color: black;
}