.white{
    display: inline-block;
    height: 50px;
    width: 50px;
    background-color: white;
    
}
.white:hover {
    background-color: red;
}

.black{
    display: inline-block;
    height: 50px;
    width: 50px;
    background-color: black;
}